table {
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid;
}
th{
    height: 30px;
    background-color: #f2d692;
}
td{
    height: 20px;
}
td {
    text-align: center;
}

.sc-button{
    position: absolute;
}

